<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/giohang.css">
    <script src="https://kit.fontawesome.com/ea42f3d974.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/vendors/bootstrap3.4.1/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/DEMO.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Hubballi&family=Lato:wght@300&family=Roboto:wght@300&family=Saira:wght@200&family=Smooch+Sans:wght@300&family=Tajawal:wght@400;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone"
          rel="stylesheet">

    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>

</head>
<body>
<header>
    <%- include("header.ejs")%>
</header>
<section class="container part-1 col-xs-12">
    <h1>COLLECTION</h1>
</section>
<section class="container part-2 outside col-xs-6">
    <aside class="col-xs-4">
        <div class="aside col-xs-12">
            <label>Style</label>
            <div class="non-active">
                <ul>
                    <li>
                        <a href="/shop-style?style=Modern">Watch Modern</a>
                    </li>
                    <li>
                        <a href="/shop-style?style=Classic">Watch Classic</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="aside col-xs-12">
            <label>Shop By Color</label>
            <div class="non-active">
                <ul>
                    <li><a href="/shop-color?color=black">Black</a></li>
                    <li><a href="/shop-color?color=white">White</a></li>
                    <li><a href="/shop-color?color=gold">Gold</a></li>
                    <li><a href="/shop-color?color=silver">Silver</a></li>
                    <li><a href="/shop-color?color=Copper">Copper</a></li>
                    <li><a href="/shop-color?color=Blue">Blue</a></li>
                </ul>
            </div>
        </div>
        <div class="aside col-xs-12">
            <label><a href="/shop-size?size=">Shop By Size</a></label>
            <div class="non-active">
                <ul>
                    <li><a href="/shop-size?size=24">24cm</a></li>
                    <li><a href="/shop-size?size=25">25cm</a></li>
                    <li><a href="/shop-size?size=26">26cm</a></li>
                    <li><a href="/shop-size?size=27">27cm</a></li>

                </ul>
            </div>
        </div>
        <div class="aside col-xs-12">
            <label>Shop Material</label>
            <div class="non-active">
                <ul>
                    <li><a href="/shop-material?material=Plastic">Plastic</a></li>
                    <li><a href="/shop-material?material=Steel">Steel</a></li>
                    <li><a href="/shop-material?material=Gold">Gold</a></li>
                </ul>
            </div>
        </div>
        <div class="aside col-xs-12">
            <label><a href="/shop-sale?sale=">Shop Sale</a></label>
            <div class="non-active">
                <ul>
                    <li><a href="/shop-sale?sale=-15%">Sale -15%</a></li>
                    <li><a href="/shop-sale?sale=-10%">Sale -10%</a></li>
                    <li><a href="/shop-sale?sale=-5%">Sale -05%</a></li>
                </ul>
            </div>
        </div>
    </aside>
    <section class="container inside col-xs-8">
        <nav class="container col-xs-12 sort">
            <span>Find</span>
            <div class="finding">
                <input type="text" name="finding" class="form-control" placeholder="Enter name of watch"/>
            </div>
            <span>Sort by</span>
            <div class="form-group form-sort">
                <select class="form-group">
                    <option>Featured</option>
                    <option>Best selling</option>
                    <option>Alphabetically, A-Z</option>
                    <option>Alphabetically, A-Z</option>
                    <option>Price, low to high</option>
                    <option>Price, high to low</option>
                </select>
            </div>
        </nav>
    </section>
    <section class="container inside col-xs-8">
        <div class="col-xs-12 shop" id="products">

            <%for(var i=0;i<colors.length;i++){ %>
            <%if(i<=30){ %>
                <a href="/product?id=<%= colors[i].ID %>">
                    <div class="one ">
                        <div class="image">
                            <div class="index-sale"><%= colors[i].Sale %></div>
                            <img src="<%= colors[i].Img1 %>" height="275" width="235"/>
                        </div>
                        <div class="information">
                            <h3 class="name"><%= colors[i].NameProduct %></h3>
                            <p class="price"><%= colors[i].Price %></p>
                        </div>
                    </div></a>

            <%    }  %>
            <%    }  %>


        </div>
    </section>
</section>
<footer>
    <%- include("footer.ejs")%>
</footer>
</body>
<script>

</script>
</html>