<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/vendors/bootstrap3.4.1/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/DEMO.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Hubballi&family=Lato:wght@300&family=Roboto:wght@300&family=Saira:wght@200&family=Smooch+Sans:wght@300&family=Tajawal:wght@400;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone"
          rel="stylesheet">

    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>

</head>
<body>
<header>
    <%- include("header.ejs")%>
</header>
<section class="container part-1 col-xs-12">
    <h1>COLLECTION</h1>
</section>
<section class="container part-2 outside col-xs-6">
    <aside class="col-xs-4">
        <div class="aside col-xs-12">
            <label>Category</label>
            <div class="non-active">
                <ul>
                    <li>
                        <a href="#">Omega Watch</a>
                    </li>
                    <li>
                        <a href="#">Paneri Watch</a>
                    </li>
                    <li>
                        <a href="#">Piaget Watch</a>
                    </li>
                    <li>
                        <a href="#">Seiko Watch</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="aside col-xs-12">
            <label>Shop By Color</label>
            <div class="non-active">
                <ul>
                    <li>
                        <a href="/color?color1=black">Black</a>
                    </li>
                    <li><a href="/color?color1=white">White</a></li>
                    <li><a href="/color?color1=gol">Gold</a></li>
                    <li><a href="#">Yellow</a></li>
                    <li><a href="#">Grey</a></li>
                    <li><a href="#">Purple</a></li>
                    <li><a href="#">Pink</a></li>
                    <li><a href="#">Orange</a></li>
                </ul>
            </div>
        </div>
        <div class="aside col-xs-12">
            <label>Shop By Size</label>
            <div class="non-active">
                <ul>
                    <li><a href="#">22cm</a></li>
                    <li><a href="#">23cm</a></li>
                    <li><a href="#">24cm</a></li>
                    <li><a href="#">25cm</a></li>
                </ul>
            </div>
        </div>
        <div class="aside col-xs-12">
            <label>Shop By Brand</label>
            <div class="non-active">
                <ul>
                    <li><a href="#">Baggit</a></li>
                    <li><a href="#">Fostelo</a></li>
                    <li><a href="#">Biltwell</a></li>
                    <li><a href="#">Adraxx</a></li>
                </ul>
            </div>
        </div>
    </aside>
    <section class="container inside col-xs-8">
        <nav class="container col-xs-12 sort">
            <span>Find</span>
            <div class="finding">
                <input type="text" name="finding" class="form-control" placeholder="Enter name of watch"/>
            </div>
            <span>Sort by</span>
            <div class="form-group form-sort">
                <select class="form-group">
                    <option>Featured</option>
                    <option>Best selling</option>
                    <option>Alphabetically, A-Z</option>
                    <option>Alphabetically, A-Z</option>
                    <option>Price, low to high</option>
                    <option>Price, high to low</option>
                </select>
            </div>
        </nav>
    </section>
    <section class="container inside col-xs-8">
        <div class="col-xs-12 shop" id="products">

            <%for(var i=0;i<colors.length;i++){ %>
            <%if(i<=10){ %>
                <a href="/product?id=<%= colors[i].ID %>">
                    <div class="one ">
                        <div class="image">
                            <div class="index-sale">Sale</div>
                            <img src="<%= colors[i].Img1 %>" height="275" width="235"/>
                        </div>
                        <div class="information">
                            <h3 class="name"><%= colors[i].NameProduct %></h3>
                            <p class="price"><%= colors[i].Price %></p>
                        </div>
                    </div></a>

            <%    }  %>
            <%    }  %>


        </div>
    </section>
</section>
<footer>
    <%- include("footer.ejs")%>
</footer>
</body>
<script>

</script>
</html>