<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= product.NameProduct %></title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/giohang.css">
    <link rel="stylesheet" type="text/css" href="/vendors/bootstrap3.4.1/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/DEMO.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Hubballi&family=Lato:wght@300&family=Roboto:wght@300&family=Saira:wght@200&family=Smooch+Sans:wght@300&family=Tajawal:wght@400;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone"
          rel="stylesheet">

    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>
    <script src="https://kit.fontawesome.com/ea42f3d974.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <%- include("header.ejs")%>
</header>
<section class="container title-part col-xs-12">
    <h1>PRODUCT</h1>
</section>
<section class="container product ">
    <div class="boxsp">
        <div class="col-xs-6 big-image">
            <img src="<%= product.Img1 %>" width="450" height="455" class="main-img" id="main-img"/>
                <div class="img-slide">
                <img class="blockimg" src="imge/product14-1.jpg" width="100" height="105" onclick="changeimage('one')" id="one"/>
                <img class="blockimg" src="imge/product16-1.jpg" width="100" height="105" onclick="changeimage('two')" id="two"/>
                <img class="blockimg" src="imge/product11-1.jpg" width="100" height="105" onclick="changeimage('three')" id="three"/>
                <img class="blockimg" src="imge/product2-1.jpg" width="100" height="105" onclick="changeimage('four')" id="four"/>
                <img class="blockimg" src="<%= product.Img1 %>" width="100" height="105"  onclick="changeimage('five')" id="five"/>
                <span class="id_an"><%= product.ID %></span>
                </div>
        </div>
        <div class="col-xs-6 details">
            <div class="title"> <h1><%= product.NameProduct %></h1>
            </div>
            <div class="introduction">
                <p><%= product.Description %></p>
            </div>
            <div class="other">
                <p>Price: <span><%= product.Price %></span>$</p>
                <p>Sale: <span><%= product.Sale %></span></p>
                <p>Size:
                    <button class="btn btn-default" ><%= product.Size1 %></button>
                    <button class="btn btn-default" ><%= product.Size2 %></button>
                </p>
                <p>Color:
                    <button class="btn btn-default" onclick="this" ><%= product.Color1 %></button>
                    <button class="btn btn-default" onclick="this" ><%= product.Color2 %></button>
                    <button class="btn btn-default" onclick="this" ><%= product.Color3 %></button>
                </p>
                <p>Vendor: Biltwell</p>
                <p>Material:
                    <button class="btn btn-default" ><%= product.Material1 %></button>
                    <button class="btn btn-default" ><%= product.Material2 %></button>
                </p>
                <p>Quantity: <span>
                        <input class="minus is-form" type="button" onclick="tru_product(this)" value="-">
                        <input aria-label="quantity" class="input-qty" max="10" min="1" name="" type="number" value="1" id="textbox_product">
                        <input class="plus is-form" onclick="cong_product(this)" type="button" value="+">
                    </span>
                </p>
            </div>
        </div>
        <button class="add-to-cart container col-xs-3" onclick="addcart(this)" ><p>ADD TO CART</p></button>
        <div class="container service">
            <a href="/cart"><div class="buy-it-now container col-xs-3"><p>BUY IT NOW</p></div></a>
            <a href="/cart"><div class="add-to-wishlist container col-xs-3"><p>ADD TO WISHLIST</p></div></a>
        </div>
    </div>
</section>
<section class="review">
    <div class="description container">
        <div class="des-title col-xs-9">
            <div class="des-1 col-xs-3">
                <h2>PRODUCT DESCRIPTION</h2>
            </div>
        </div>
        <div class="para-para container col-xs-9">
            <strong>Busey ipsum dolor sit amet</strong>
            <p>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis.
                Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. Sedcus faucibus
                an sullamcorper mattis drostique des commodo pharetras loremos.Donec pretium egestas sapien
                et mollis.
            </p>
            <br>
            <strong>Lorem ipsum dolor sit amet</strong>
            <p>
                Sonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.
            </p>
            <br>
            <strong>Busey ipsum dolor sit amet</strong>
            <p>
                Cupcake ipsum dolor. Sit amet marshmallow topping cheesecake muffin. Halvah croissant
                candy canes bonbon candy. Apple pie jelly beans topping carrot cake danish tart cake cheesecake.
                Muffin danish chocolate soufflé pastry icing bonbon oat cake. Powder cake jujubes oat cake.
                Lemon drops tootsie roll marshmallow halvah carrot cake.
            </p>
            <br>
            <strong>Sample Paragraph Text</strong>
            <p>Praesent vestibulum congue tellus at fringilla. Curabitur vitae semper sem, eu convallis est.
                Cras felis nunc commodo eu convallis vitae interdum non nisl. Maecenas ac est sit amet augue
                pharetra convallis nec danos dui. Cras suscipit quam et turpis eleifend vitae malesuada magna
                congue. Damus id ullamcorper neque. Sed vitae mi a mi pretium aliquet ac sed elit. Pellentesque
                nulla eros accumsan quis justo at tincidunt lobortis denimes loremous. Suspendisse vestibulum
                lectus in lectus volutpat, ut dapibus purus pulvinar. Vestibulum sit amet auctor ipsum.
            </p>
        </div>
        <div class="col-xs-9 form-group customer-review">
            <div class="des-2">
                <h2>WRITE A REVIEW</h2>
            </div>
            <div class="formgroup">
                <form action="#" method="get">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Enter your name" required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="john.smith@example.com" required/>
                    </div>
                    <div class="rating">
                        <label>Rating</label>
                        <br>
                        <div class="stars">
                                <input class="star star-5" id="star-5" type="radio" name="star" required/>
                                <label class="star star-5" for="star-5"></label>
                                <input class="star star-4" id="star-4" type="radio" name="star"/>
                                <label class="star star-4" for="star-4"></label>
                                <input class="star star-3" id="star-3" type="radio" name="star"/>
                                <label class="star star-3" for="star-3"></label>
                                <input class="star star-2" id="star-2" type="radio" name="star"/>
                                <label class="star star-2" for="star-2"></label>
                                <input class="star star-1" id="star-1" type="radio" name="star"/>
                                <label class="star star-1" for="star-1"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Review Title</label>
                        <input type="text" class="form-control" placeholder="Give your review a title" required/>
                    </div>
                    <div class="form-group">
                        <label>Body of Review</label>
                        <textarea name="body-of-review" class="form-control" placeholder="Write your comment here" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-default submit-review">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
</section>
<footer>
    <%- include("footer.ejs")%>
</footer>
</body>

<script type="text/javascript">
    function cong_product(){
        var t = document.getElementById("textbox_product").value;
        document.getElementById("textbox_product").value = parseInt(t)+1;
    }
    function tru_product(){
        var t = document.getElementById("textbox_product").value;
        if (parseInt(t)>1){
            document.getElementById("textbox_product").value = parseInt(t)-1;
        }
    }


    var giohang = new Array();

    function addcart(x) {
        var boxsp = x.parentElement.children;
        var Img = boxsp[0].children[0].src;
        var ID = boxsp[0].children[1].innerText;
        var Name = boxsp[1].children[0].innerText;
        var Color = boxsp[1].children[2].children[3].children[0].innerText;
        var Color1 = boxsp[1].children[2].children[3].children[1].innerText;
        var Color2 = boxsp[1].children[2].children[3].children[2].innerText;
        var Price = boxsp[1].children[2].children[0].children[0].innerText;
        var Sale = boxsp[1].children[2].children[1].children[0].innerText.replace(/[^0-9]/g , '');
        var Quantity = parseInt(boxsp[1].children[2].children[6].children[0].children[1].value);
        // alert(boxsp[1].children[2].children[1].children[0].innerText.replace(/[^0-9]/g , '');
        var sp = new Array(Img, Name, Color,Color1,Color2, Price,Sale, Quantity,ID);
        //kiemtragiohang
        var kt = 0;
        for (let i=0;i<giohang.length;i++){
            if (giohang[i][1] == Name){
                kt = 1;
                Quantity+=parseInt(giohang[i][7]);
                giohang[i][7] = Quantity;
                break;
            }
        }
        if (kt == 0){
            giohang.push(sp);
        }
        console.log(giohang);
        showcountsp();
        shomycart();
        //luc gio hang
        localStorage.setItem("giohang",JSON.stringify(giohang));

    }
    function showcountsp() {
        document.getElementById("countsp").innerHTML = giohang.length;
    }

    giohang = localStorage.getItem("giohang") ? JSON.parse(localStorage.getItem("giohang")) :[];
    function shomycart(){
        var ttgh = "";
        var total = 0;
        var tt = 0;
        for (let i=0;i<giohang.length;i++){
            if(giohang[i][6] == ""){
                tt = parseInt(giohang[i][5]) * parseInt(giohang[i][7]);
            }else {
                tt = (parseInt(giohang[i][5])-parseInt(giohang[i][5])*parseInt(giohang[i][6])/100) * parseInt(giohang[i][7]);
            }
            total+=tt;
            ttgh+= "<div class=\"hinhanh1\">\n" +
                "        <img src=\""+giohang[i][0]+"\" width=\"20px\" height=\"20px\" alt=\"\">\n" +
                "    </div>\n" +
                "    <div class=\"thongtin1\">\n" +
                "        <h5>"+giohang[i][1]+"</h5>\n" +
                "        <p>"+giohang[i][2]+"</p>\n" +
                "        <h4><span>$</span>"+ tt +"</h4>\n" +
                "        <input class=\"minus is-form\" type=\"button\" onclick=\"tru(this)\" value=\"-\">\n" +
                "        <input aria-label=\"quantity\" class=\"input-qty\" max=\"10\" min=\"1\" name=\"\" type=\"number\" value=\""+ giohang[i][7] +"\" id=\"textbox\">\n" +
                "        <input class=\"plus is-form\" onclick=\"cong(this)\" type=\"button\" value=\"+\">\n" +
                "    </div>";
        }
        ttgh += "<div class=\"total\">\n" +
            "        <h4>Total : $"+ total +"</h4>\n" +
            "    </div>";
        document.getElementById("showcart").innerHTML = ttgh;
        showcountsp();
    }
    function changeimage(id){
        let imagepath = document.getElementById(id).getAttribute('src');
        document.getElementById('main-img').setAttribute('src', imagepath);
    }
</script>
</html>