<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head.ejs") %>
</head>
<body>
<header>
    <%- include("header.ejs") %>
</header>
<section>
<div class="container3">
    <ul class="col-md-6">
        <%
        // o day viet code js
        for(var i=0;i<products.length;i++){ %>
            <li><a href="/sp?NameProduct=<%= products[i].NameProduct %>">
                    <%= products[i].NameProduct %>
                    -- Giá tiền:
                    <% if(products[i].Price<=100000){ %>
                        <i><%= products[i].Price %></i>
                    <% }else{ %>
                        <b><%= products[i].Price %></b>
                    <% }%>--
                <%= products[i].Size1 %>--
                <%= products[i].Color1 %>--
                <%= products[i].Material1 %>--
            </a>


            </li>
        <%    }  %>
    </ul>

</div>
</section>
</body>
</html>